- content_for :header do
  %span #{t :back_to} #{link_to t(:voting), locale_root_path}

#subheader.grid_16
  %h2=t :top_seinfeld_episodes

#episodes.grid_16
  - if @episodes.empty?
    %p=t :not_enough_episodes
  - else
    %ul
      - position = @episodes.offset + 1
      - @episodes.each do |episode|
        %li
          %h5 ##{position}: #{episode.title}
          %h6
            #{t :season} #{episode.season.number}, 
            #{t :episode} #{episode.season_number} 
            <abbr title="#{t :production_code}">(##{episode.production_code})</abbr>
          %p.voting
            #{t :won} #{number_to_percentage (episode.rank * 100.0)} #{t :of} #{episode.total_votes_count} #{t :matches}.
          %p.summary= episode.summary
          %p.info
            #{ordinal episode.series_number} #{t :series_episode}.
            #{t :directed} #{episode.director.name}.
            #{t :written} #{episode.writers.map(&:name).to_sentence}.
            #{t :aired} <abbr title="#{episode.airdate}">#{l episode.airdate, :format => :long}</abbr>
          %p.external
            #{t :exteral_refs}:
            %span (#{t :new_window_alert})
            %ul
              %li= reference_link_to t(:wikipedia_link), episode.wikipedia_entry_url
              %li= reference_link_to t(:script_link), episode.seinfeldscripts_entry_url
              %li= reference_link_to t(:video_link), episode.seinfeldx_entry_url
        - position += 1
    
    = will_paginate_t @episodes
