%h3= winner.title

%h5 #{t :season} #{winner.season.number}, #{t :episode} #{winner.season_number} <abbr title="#{t :production_code}">(##{winner.production_code})</abbr>

%p.voteLink= link_to_function t(:vote), "prepare_and_submit_vote_form('#{winner.id}', '#{loser.id}');", :title => t(:vote_title)

%p.summary= winner.summary

%p.info
  #{t :directed} #{winner.director.name}.
  #{t :written} #{winner.writers.map(&:name).to_sentence}.
  #{t :aired} <abbr title="#{winner.airdate}">#{l winner.airdate, :format => :long}</abbr>

%p.external
  #{t :exteral_refs}:
  %span (#{t :new_window_alert})
  %ul
    %li= reference_link_to t(:wikipedia_link), winner.wikipedia_entry_url
    %li= reference_link_to t(:script_link), winner.seinfeldscripts_entry_url
    %li= reference_link_to t(:video_link), winner.seinfeldx_entry_url
