%h3= winner.title

%h5 Season #{winner.season.number}, Episode #{winner.season_number} <abbr title="Production Code">(##{winner.production_code})</abbr>

%p Directed by #{winner.director.name} and written by #{winner.writers.map(&:name).to_sentence}

%p Originally aired on #{winner.airdate}

%p.summary= winner.summary

%p.voteLink= link_to_function "Vote", "prepare_and_submit_vote_form('#{winner.id}', '#{loser.id}');", :title => "Vote for this episode"

%p.external
  External References:
  %ul
    %li= link_to 'Wikipedia Entry', winner.wikipedia_entry_url, :rel => 'facebox'
    %li= link_to 'Teste', '#lalala', :rel => 'facebox'
    %li= link_to 'Teste', '/', :rel => 'facebox'
    %li= link_to 'Script', '#TODO'
    %li= link_to 'Videos', '#TODO'

#lalala(style='display: none;')
  Opa, opa