- content_for :header do
  %span #{t :see_the} #{link_to t(:top_episodes), '#TODO'}

#subheader.grid_16
  %h2=t :best_seinfeld_ep
  %span #{t :cant_decide} #{link_to t(:try_another), locale_root_path}!

#votes.grid_16
  - form_for Vote.new do |f|
    = f.hidden_field :winner_id
    = f.hidden_field :loser_id

  #voteA.vote.grid_7.alpha
    .inner
      = render :partial => 'episode', :locals => {:winner => @episodes[0], :loser => @episodes[1]}

  .phrase.grid_1
    .inner
      %p=t :or

  #voteB.vote.grid_7
    .inner
      = render :partial => 'episode', :locals => {:winner => @episodes[1], :loser => @episodes[0]}

  .phrase.grid_1.omega
    .inner
      %p ?
